/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 40px; /* Right padding to avoid cutoff */
    background-color: #002855; /* Dark blue */
    color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  /* Logo */
  .logo {
    height: 100px;
    width: 150px; /* Increase logo size */
    margin-left: 0; /* Remove extra left margin */
  }
  
  /* Navigation Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    padding-right: 80px;
  }
  
  .nav-links li {
    font-size: 1.2rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
  
  .nav-links a:hover {
    color: #f04e30; /* Orange hover */
  }
  